<!--<div class="">
<h1>welcome to sslabs</h1>
<table class="table">
	<tr class="bg-primary">
		<th>S.No</th>
		<th>Stu.Id</th>
		<th>Stu.Name</th>
		<th>Stu.Course</th>
		<th>Stu.Fee</th>
		<th>Stu.DOB</th>		
		<th>Stu.Age</th>		
	</tr>
	<tr *ngFor="let x of student;index as i">
		<td>{{i+1}}</td>
		<td>{{x.sid}}</td>
		<td>{{x.name|uppercase}}</td>
		<td>{{x.course|lowercase}}</td>
		<td>{{x.fee|currency:"&#8377;"}}</td>
		<td>{{x.dob|date}}</td>
		<td>{{x.dob|age}}</td>
	</tr>
	
</table>-->

<!--<app-emp></app-emp>-->
<mat-checkbox>Check me!</mat-checkbox>

